<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BN2 Consulting - Blog</title>
        <meta name="description" content="Découvrez les conseils et stratégies pour améliorer votre présence en ligne avec BN2 Consulting. Optimisez votre site Web, utilisez les médias sociaux et analysez les performances pour attirer plus de clients.">
        <meta name="keywords" content="BN2 Consulting, optimisation site Web, marketing digital, présence en ligne, SEO, médias sociaux, analyse de performance, conseils en marketing">
        <meta name="author" content="BN2 Consulting">

        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="BN2 Consulting - Blog">
        <meta property="og:description" content="Découvrez les conseils et stratégies pour améliorer votre présence en ligne avec BN2 Consulting. Optimisez votre site Web, utilisez les médias sociaux et analysez les performances pour attirer plus de clients.">
        <meta property="og:image" content="URL_DE_L_IMAGE"> <!-- Remplace par l'URL de l'image à afficher -->
        <meta property="og:url" content="URL_DE_LA_PAGE"> <!-- Remplace par l'URL de la page -->
        <meta property="og:type" content="article">

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="BN2 Consulting - Blog">
        <meta name="twitter:description" content="Découvrez les conseils et stratégies pour améliorer votre présence en ligne avec BN2 Consulting. Optimisez votre site Web, utilisez les médias sociaux et analysez les performances pour attirer plus de clients.">
        <meta name="twitter:image" content="URL_DE_L_IMAGE"> <!-- Remplace par l'URL de l'image à afficher -->
        
        
        <!-- Favicon -->
        <link href="/img/favicon.ico" rel="icon">
    
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
    
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" href="../lib/owlcarousel./owl.carousel.min.css">
        <link rel="stylesheet" href="../lib/animate/animate.min.css">
    
        <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/modeleCss/formationCard.css">
    </head>
    
    <body>
        
        <!-- Spinner Start -->
        <section id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <article class="spinner"></article>
        </section>
        <!-- Spinner End -->
        <!-- Topbar Start -->
        
        <!-- Topbar End -->

        <!-- Navbar & Carousel Start -->
        <section class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
                <a href="./index.html" class="navbar-brand p-0">
                    <figure class="logobn2"><img src="./img/logobn2.png" alt="logobn2"></figure>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <section class="collapse navbar-collapse" id="navbarCollapse">
                    <article class="navbar-nav ms-auto py-0">
                        <a href="/" class="nav-item nav-link">Accueil</a>
                        <a href="/appropos" class="nav-item nav-link ">BN2</a>
                        <a href="/services" class="nav-item nav-link">Service</a>
                        <a href="/blog" class="nav-item nav-link">Blog</a>
                        <a href="/formation" class="nav-item nav-link active">Formation</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </article>
                </section>
            </nav>
            <article class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
                <section class="row py-5">
                    <article class="col-12 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-4 text-white animated zoomIn">Nos Formation</h1>
                    </article>
                </section>
            </article>
        </section>
        <!-- Navbar & Carousel End -->
        <!--Containt-->
        <section class="container-fluid wow fadeInUp" data-wow-delay="0.2s" id="FormationContainer">
            <h1 class="titleF">Nos Différentes formations</h1>
            <article class="formaContainer">
                <!-- Les cartes de formations seront insérées ici -->
            </article>
        </section>        
        <!--Fin -->
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-6 footer-about">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                            <a href="index.html" class="navbar-brand">
                                <figure class="logobn2f"><img src="./img/logobn2.png" alt="logobn2"></figure>
                            </a>
                            <p class="mt-3 mb-4">BN2 Consulting, votre partenaire de confiance pour des solutions innovantes et personnalisées. Nous vous accompagnons à chaque étape de votre projet pour garantir votre succès. Ensemble, bâtissons l'avenir sur des bases solides et durables.</p>
                        </div>
                        
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <div class="row gx-5">
                            <div class="col-lg-4 col-md-12 pt-5 mb-5">
                                <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                    <h3 class="text-light mb-0">Adresse</h3>
                                </div>
                                <div class="d-flex mb-2">
                                    <i class="bi bi-geo-alt text-primary me-2"></i>
                                    <p class="mb-0">1264 Av. Victor Hugo,94120 Fontenay-sous-Bois, France</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <i class="bi bi-envelope-open text-primary me-2"></i>
                                    <p class="mb-0">aseck@bn2consulting.fr</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <i class="bi bi-telephone text-primary me-2"></i>
                                    <p class="mb-0">+33 755672680</p>
                                </div>
                                <div class="d-flex mt-4">
                                    <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                    <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                    <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                    <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                                <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                    <h3 class="text-light mb-0">Menu</h3>
                                </div>
                                <div class="link-animated d-flex flex-column justify-content-start">
                                    <a class="text-light mb-2" href="/index"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                    <a class="text-light mb-2" href="/Apropos"><i class="bi bi-arrow-right text-primary me-2"></i>A propos</a>
                                    <a class="text-light mb-2" href="/Service"><i class="bi bi-arrow-right text-primary me-2"></i>Service</a>
                                    <a class="text-light mb-2" href="/blog"><i class="bi bi-arrow-right text-primary me-2"></i>Blog</a>
                                    <a class="text-light mb-2" href="/contact"><i class="bi bi-arrow-right text-primary me-2"></i>Contact</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                                <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                    <h3 class="text-light mb-0">Lien rapide</h3>
                                </div>
                                <div class="link-animated d-flex flex-column justify-content-start">
                                    <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Boutique</a>
                                    <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>CICP</a>
                                    <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                                    <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Meet up</a>
                                    <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-white" style="background: #061429;">
            <div class="container text-center">
                <div class="row justify-content-end">
                    <div class="col-lg-8 col-md-6">
                        <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                            <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">bn2 Consulting</a>. Tout droit est réservé. 
                            
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Realiser par <a class="text-white border-bottom" href="https://shop.bn2smart.fr">Bn2 smart</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
        <!-- JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../lib/wow/wow.min.js"></script>
        <script src="../lib/easing/easing.min.js"></script>
        <script src="../lib/waypoints/waypoints.min.js"></script>
        <script src="../lib/counterup/counterup.min.js"></script>
        <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    
        <!-- Template Javascript -->
        <script src="../js/integration.js"></script>
        <script src="../js/main.js"></script>

    </body>
</html>